form {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  text-align: center;
  padding: 20px 0;
  align-items: center;
  justify-items: center;
  /* gap: 10px; */
}

form div {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

form div:first-child label,
form div:last-of-type label {
  margin-right: 0.25rem;
}

form div:not(:last-of-type) {
  margin-right: 0.5rem;
}

form div:first-child input {
  width: 4.25rem;
}

form div:last-of-type input {
  width: 8.5rem;
  margin-right: 0.5rem;
}

form button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
}

.altForm {
  grid-template-columns: repeat(14, 1fr);
}
